//FONTS//
$primary_font: 'Open Sans Condensed', sans-serif;
$secondary_font: 'Meddon', cursive;
//COLORS//
$primary_color: #C7999B;
$secondary_color: #e1e1e1;

section{
  width: 100%;
  position: realtive;
  display:block;
}
.bg-alpha{
  background-color: white;
     
    text-align: center;
}
section{
  display: table;
  width: 100%;
 // height: 100vh;
  
  
  > div{
    display:table-cell;
    vertical-align: middle;
    padding: 3em 2em 1em;
    margin: 0 auto;
    //text-align:center;
  }
    p.program {
        margin-top: 15px;
    }
  
}

.sect-content{
  padding: 2em;
}
.graph-donut {
	position: relative;
	display: inline-block;
	width: 10em;
	height: 10em;
	margin-bottom: 3em;
	text-align: center;

}

.graph-donut canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.percent {
	display: inline-block;
	font-size:21px;
	color:black;
	line-height: 152px;
	z-index: 2;
    font-family: $primary_font;

  &:after {
	  content: '%';
	  margin-left: 0.1em;
	  font-size: .8em;
  }
  &.no-percent:after{
    content: '';
  }
}

//responsive

@media only screen and (max-width: 768px) {
section {
    display: table;
    width: 75%;
    margin: 0 auto;
    }
}

